body {
  width: 100vw;
  height: 100vh;
  margin:0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: sans-serif, PingFang SC, Hiragino Sans GB, Arial;
}
