@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1643183042775') format('truetype');
}

[class*=" ho-icon-"],[class^=ho-icon-] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ho-icon-Map:before {
  content: "\e835";
}

.ho-icon-detection:before {
  content: "\e866";
}

.ho-icon-home:before {
  content: "\e867";
}

.ho-icon-setting:before {
  content: "\e868";
}

.ho-icon-management:before {
  content: "\e869";
}

.ho-icon-duanlian:before {
  content: "\e86a";
}

.ho-icon-lianjie:before {
  content: "\e86b";
}

.ho-icon-rizhi:before {
  content: "\e86c";
}

.ho-icon-tongbu:before {
  content: "\e86d";
}

.ho-icon-weizhixinxi:before {
  content: "\e86e";
}

.ho-icon-dingweipeizhi:before {
  content: "\e86f";
}

.ho-icon-liangchengku:before {
  content: "\e870";
}

.ho-icon-shebeileixing:before {
  content: "\e871";
}

.ho-icon-xunjianpeizhi:before {
  content: "\e872";
}

.ho-icon-biaoqianweihu:before {
  content: "\e873";
}

.ho-icon-gengxinrizhi:before {
  content: "\e874";
}

.ho-icon-logo:before {
  content: "\e875";
}

.ho-icon-Contacts:before {
  content: "\e81c";
}

.ho-icon-Lock:before {
  content: "\e831";
}

.ho-icon-yuanchengkongzhi:before {
  content: "\e85e";
}

.ho-icon-shaixuan:before {
  content: "\e882";
}

.ho-icon-Follow:before {
  content: "\e82b";
}

.ho-icon-Link:before {
  content: "\e834";
}

.ho-icon-Unfollow:before {
  content: "\e84c";
}

.ho-icon-unLink:before {
  content: "\e87d";
}

.ho-icon-a-1:before {
  content: "\e876";
}

.ho-icon-a-3:before {
  content: "\e877";
}

.ho-icon-a-2:before {
  content: "\e878";
}

.ho-icon-a-4:before {
  content: "\e879";
}

.ho-icon-arrow2:before {
  content: "\e87c";
}

.ho-icon-Create:before {
  content: "\e81d";
}

.ho-icon-shebeiguanli:before {
  content: "\e857";
}

.ho-icon-Syn:before {
  content: "\e84a";
}

.ho-icon-security:before {
  content: "\e87a";
}

.ho-icon-Follow2:before {
  content: "\e87b";
}

.ho-icon-Export2:before {
  content: "\e87e";
}

.ho-icon-Fold2:before {
  content: "\e87f";
}

.ho-icon-Fold:before {
  content: "\e826";
}

.ho-icon-Unfold:before {
  content: "\e837";
}

.ho-icon-shangchuan:before {
  content: "\e880";
}

.ho-icon-exl:before {
  content: "\e881";
}

.ho-icon-Delete:before {
  content: "\e821";
}

.ho-icon-history:before {
  content: "\e883";
}

.ho-icon-liandongdingyi:before {
  content: "\e864";
}

.ho-icon-chanpinmulu:before {
  content: "\e884";
}

.ho-icon-zhongxinsaomiao:before {
  content: "\e885";
}

.ho-icon-daoxu:before {
  content: "\e886";
}

.ho-icon-zhengxu:before {
  content: "\e887";
}

.ho-icon-tishi:before {
  content: "\e888";
}

.ho-icon-Adjust:before {
  content: "\e814";
}

.ho-icon-count:before {
  content: "\e889";
}

.ho-icon-template:before {
  content: "\e88a";
}

.ho-icon-Send:before {
  content: "\e841";
}

.ho-icon-wangguanjiankong:before {
  content: "\e85d";
}

.ho-icon-shebeishengji:before {
  content: "\e860";
}

.ho-icon-shebeiweihu:before {
  content: "\e861";
}

.ho-icon-yewubianpai:before {
  content: "\e865";
}

.ho-icon-moxingguanli:before {
  content: "\e88b";
}

.ho-icon-kongzhimianban:before {
  content: "\e88c";
}

.ho-icon-Update:before {
  content: "\e88d";
}

.ho-icon-Copy:before {
  content: "\e81e";
}

.ho-icon-Edit:before {
  content: "\e88e";
}

.ho-icon-kongzhiqi:before {
  content: "\e88f";
}

.ho-icon-ouheqi:before {
  content: "\e890";
}

.ho-icon-miniDC:before {
  content: "\e891";
}

.ho-icon-SDNwangguan:before {
  content: "\e892";
}

.ho-icon-xietiaoqi:before {
  content: "\e893";
}

